body{
    background: #f4f4f4;
}

#main .main-color-bg{
    background: #333333;
}

#header{
    background: #333333;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create{
    padding-top: 10px;

}

.breadcrumb{
    background: #cccccc;
    color: #333333;
}

.breadcrumb a{
    color: #333333;
}

/*Progress Bar*/
.card{
    margin-top: 15px;
}

.leads{
    margin-top: 10px;
}